
.carousel-caption{
  width: 300px;
  z-index: 10;
  color: #fff;
  text-align: center;
  top: 50%;
  right: 85%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-family: sans-serif;
  font-size: 14;
}
.navbar {
  background-color: green;
  border-color: black;
  align-items: center;
}
button{
	background-color: green;
	color: white;
	border-style: none;
	border-radius: 5px;
}
.gallerys{
	padding-left: 5%;
}

div.gallery {
  margin: 5px;
  border: 3px solid green;
  float: left;
  width: 550px;
  height: auto;

}
div.gallery:hover{
	border: 3px solid tomato;
}
.btn1:hover{
	border: 1px solid red;
}

div.gallery img {
  width: 100%;
  height: 400px;

}

div.desc {
  padding: 15px;
  text-align: center;
  color: green;
}
h2, h1{
	text-align: center;
	color: green;
}
.footer{
	height: 70px;
	background-color: green;
	clear: both;
	color: white;
	text-align: center;
}
#container, body{
	background-color: aquamarine;
}